{% extends "includes/base.html" %}
{% block title %} mycoupons {% endblock %}

{% block content %}
<!-- stylesheet -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mycouponsstyle.css')}}"/>

<h1 class="header">Your current coupons</h1>

{% if promo_codes %}
  <ul>
    {% for code in promo_codes %}
      <li class="coupons">
        <span>{{ code }}</span>
        <button onclick="redeemCoupon('{{ code }}')">Redeem</button>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No coupons available</p>
{% endif %}

<script>
  function redeemCoupon(code) {
    alert('Coupon ' + code + ' redeemed!');
  }
</script>

{% endblock %}