👽 (just copy everything) 👽

{% extends "includes/base.html" %}
{% block title %} mycoupons {% endblock %}

{% block content %}
<!-- stylesheet -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mycouponsstyle.css')}}"/>

<div class="promocode">
    <h1 class="header">Your current coupons</h1>

    {% if won_gifts %}
        <ul>
            {% for gift in won_gifts %}
                <li class="coupons">
                    <span>{{ gift }}</span>
                    <button onclick="redeemGift('{{ gift }}')">Redeem</button>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No coupons available</p>
    {% endif %}
</div>

<script>
    function redeemGift(gift) {
        alert('Gift ' + gift + ' redeemed!');
    }
</script>

{% endblock %}
