{% extends "includes/base.html" %}

{% block title %}Terms and Conditions{% endblock %}

{% block content %}

<style>
    .shipping h1 {
        padding-top: 30px;
        text-align: center;
        color: #336BC7
    }

    .shipping h2 {
        text-align: left;
        padding-left: 300px;
        padding-right: 300px;
        margin-top: 50px;
        color: #5AB04C
    }

    .shipping p {
        text-align: left;
        padding-left: 300px;
        padding-right: 300px;
    }

    .last {
        margin-bottom: 50px;
    }

</style>

<!-- Content of the "Terms and Conditions" page -->

    <div class="shipping">
        <h1>Terms and Conditions</h1>

        <h2>1. Introduction</h2>
        <p class="last">Welcome to Reglow shopping website.</p>

        <h2>2. Use of the Website</h2>
        <p>Your use of this website is subject to the following conditions:</p>
        <p>- The content of the pages of this website is for your general information and use only. It is subject to change without notice.</p>
        <p class="last">- This website may use cookies to monitor browsing preferences. If you do allow cookies to be used, please refer to our Privacy Policy for details of what data we may collect and how it may be used.</p>

        <h2>3. Intellectual Property</h2>
        <p class="last">All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.</p>

        <h2>4. Pricing and Payments</h2>
        <p class="last">Prices for our products are subject to change without notice. We reserve the right at any time to modify or discontinue the service without notice.</p>

        <h2>5. Contact Information</h2>
        <p class="last">If you have any questions about these Terms and Conditions, please contact us at customerservice.sg@reglow.com.sg</p>

    </div>

{% endblock %}
